




/*
     FILE ARCHIVED ON 23:11:20 Jul 17, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:36:15 Dec 9, 2013.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }

.push-down { margin-bottom: 1em; }
.push-left { margin-left: 1em; }
.push-right { margin-right: 1em; }
.push-up { margin-top: 1em; }

@media(min-width: 980px) {
  .navbar-fixed-top + * {
    margin-top: 60px;
  }

  .navbar-fixed-bottom + *{
    margin-bottom: 60px;
  }
}